@import url("https://fonts.googleapis.com/css?family=Varela+Round&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap");
body {
  font-family: 'Varela Round', sans-serif;
  font-size: 16px;
  line-height: 2;
  color: #222222;
  background: #f4f4f4; }

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  color: #137bd1; }

h1, .h1 {
  font-size: 2.25rem;
  margin-bottom: 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.075); }

h2, .h2 {
  font-size: 1.875rem;
  margin-bottom: 15px; }

h3, .h3 {
  font-size: 1.5rem;
  margin: 15px 0; }

img {
  max-width: 100%;
  height: inherit;
  display: block; }
  img.aligncenter {
    margin-left: auto;
    margin-right: auto; }

/** general classes **/
.button-holder {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-bottom: 20px; }

.button {
  height: 35px;
  display: flex;
  align-items: center;
  color: #fff;
  background: #137bd1;
  border-radius: 4px;
  padding: 0 20px;
  transition: .3s;
  font-size: .85rem;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.65); }
  .button:focus, .button:active, .button:hover {
    color: #fff;
    background: #2b95ec;
    text-decoration: none; }
  .button.medium {
    height: 50px;
    padding: 0 30px;
    font-size: 1rem; }
  .button.large {
    height: 70px;
    padding: 0 40px;
    font-size: 1.2rem; }

.white-bg {
  background-color: #fff; }

.box-shadow {
  -webkit-box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1); }

input[type="text"],
input[type="search"] {
  border: 1px solid #e2e2e2;
  border-radius: 3px; }

/** alert shortcode **/
.alert-holder {
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 4px;
  text-shadow: 0 1px 0 #fff;
  border: 1px solid transparent; }
  .alert-holder.blue {
    background: #ebf7fd;
    color: #2d7091;
    border-color: rgba(45, 112, 145, 0.3); }
  .alert-holder.success {
    background: #f2fae3;
    color: #659f13;
    border-color: rgba(101, 159, 19, 0.3); }
  .alert-holder.warning {
    background: #fffceb;
    color: #e28327;
    border-color: rgba(226, 131, 39, 0.3); }
  .alert-holder.danger {
    background: #fff1f0;
    color: #d85030;
    border-color: rgba(216, 80, 48, 0.3); }

/** navigation styles **/
.main-nav {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  width: 250px;
  z-index: 1;
  transform: translateX(250px);
  transition: transform .3s; }
  .main-nav.active {
    transform: translateX(0); }
  .main-nav .open-btn img {
    cursor: pointer; }
  .main-nav .close-btn {
    padding: 25px 20px 40px; }
    .main-nav .close-btn img {
      cursor: pointer; }
  .main-nav ul.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0 0 20px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 -10px 15px rgba(0, 0, 0, 0.035) inset, 0 1px 0 rgba(255, 255, 255, 0.075) inset, 0 10px 50px rgba(255, 255, 255, 0.1) inset;
    border-color: rgba(0, 0, 0, 0.05);
    border-style: solid;
    border-width: 1px 0 1px;
    transition: box-shadow 0.3s ease-in-out; }
    @media (min-width: 992px) {
      .main-nav ul.navbar-nav {
        flex-direction: row; } }
    .main-nav ul.navbar-nav li a {
      color: #222222;
      display: flex;
      align-items: center;
      height: 50px;
      padding: 0 15px;
      transition: .3s; }
    .main-nav ul.navbar-nav li:focus a, .main-nav ul.navbar-nav li:active a, .main-nav ul.navbar-nav li:hover a, .main-nav ul.navbar-nav li.current-menu-item a {
      background: #137bd1;
      color: white;
      text-decoration: none;
      text-shadow: 0 1px 2px rgba(0, 0, 0, 0.65); }
  @media (min-width: 992px) {
    .main-nav {
      position: initial;
      top: initial;
      right: initial;
      bottom: initial;
      background: initial;
      width: initial;
      z-index: initial;
      transform: none; } }

.backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: all;
  transition-duration: .6s;
  background-color: rgba(19, 123, 209, 0);
  visibility: hidden; }
  .backdrop.active {
    background-color: rgba(19, 123, 209, 0.75);
    visibility: visible; }

/** banner image below navigation **/
.header-banner-img {
  text-align: center;
  margin: 0 10px 45px 10px; }

/** main content holder **/
main {
  border-top: 4px solid #137bd1; }
  main header .header-top {
    height: 100px;
    padding: 0 20px;
    background: white;
    background: linear-gradient(180deg, white 0%, rgba(244, 244, 244, 0.8) 100%); }
  main .main-content {
    padding: 0 20px; }
    main .main-content .content {
      padding-bottom: 45px; }

/** sidebars **/
.sidebar {
  padding: 10px 10px 15px; }
  .sidebar h3 {
    border-bottom: 1px solid rgba(0, 0, 0, 0.075);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
    margin-bottom: 15px;
    padding-bottom: 10px; }
  .sidebar.top {
    border: 1px solid #eee;
    border-radius: 10px;
    text-align: left;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.05);
    padding: 10px 20px; }
    .sidebar.top h3 {
      color: #222222; }
    .sidebar.top .textwidget {
      font-size: 12px;
      list-style-type: none;
      border-radius: 0 0 10px 10px;
      color: #222222; }
  .sidebar ul.menu {
    list-style: none;
    padding: 0;
    margin: 0; }
    .sidebar ul.menu li a {
      display: block;
      margin: 0;
      padding: 5px 0;
      border-bottom: 1px solid rgba(0, 0, 0, 0.075);
      box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1); }

/** posts **/
.post-date {
  font-size: .85rem;
  color: rgba(0, 0, 0, 0.6); }

/** main footer holder **/
footer {
  background-color: #274a82;
  padding: 25px 30px;
  text-align: center; }
  footer ul.footer-nav {
    list-style: none;
    margin: 0 0 20px;
    padding: 0;
    text-align: center; }
    footer ul.footer-nav li {
      display: inline-block;
      margin: 0 5px; }
      footer ul.footer-nav li a {
        color: #b6e1ff; }

/*# sourceMappingURL=style.css.map */
