@import 'variables', 'mixins';

@import url('https://fonts.googleapis.com/css?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

body {
	font-family: 'Varela Round', sans-serif;
	font-size: 16px;
	line-height: 2;
	color: $font-base-color;
	background: $body-bg;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	color: $prim-color;
}

h1, .h1 {
	font-size: 2.25rem;
	margin-bottom: 15px;
	border-bottom: 1px solid rgba(0,0,0,0.075);
}

h2, .h2 {
	font-size: 1.875rem;
	margin-bottom: 15px;
}

h3, .h3 {
	font-size: 1.5rem;
	margin: 15px 0;
}


img {
	max-width: 100%;
	height: inherit;
	display: block;

	&.aligncenter {
		margin-left: auto;
		margin-right: auto;
	}

}


/** general classes **/
.button-holder {
	display: flex;
	width: 100%;
	justify-content: center;
	margin-bottom: 20px;
}

.button {
	height: 35px;
	display: flex;
	align-items: center;
	color: $white-color;
	background: $prim-color;
	border-radius: 4px;
	padding: 0 20px;
	transition: .3s;
	font-size: .85rem;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.65);

	&:focus,
	&:active,
	&:hover {
		color: $white-color;
		background: lighten($prim-color,10%);
		text-decoration: none;
	}

	&.medium {
		height: 50px;
		padding: 0 30px;
		font-size: 1rem;
	}

	&.large {
		height: 70px;
		padding: 0 40px;
		font-size: 1.2rem;
	}
}

.white-bg {
	background-color: $white-color;
}

.box-shadow {
	-webkit-box-shadow: 0 0 6px 0 rgba(0,0,0,0.1);
	-moz-box-shadow: 0 0 6px 0 rgba(0,0,0,0.1);
	box-shadow: 0 0 6px 0 rgba(0,0,0,0.1);
}

input[type="text"],
input[type="search"] {
	border: 1px solid $border-color;
	border-radius: 3px;
}


/** alert shortcode **/
.alert-holder {
	margin-bottom: 15px;
	padding: 10px;
	border-radius: 4px;
	text-shadow: 0 1px 0 #fff;
	border: 1px solid transparent;

	&.blue {
		background: #ebf7fd;
		color: #2d7091;
		border-color: rgba(45,112,145,.3);
	}

	&.success {
		background: #f2fae3;
		color: #659f13;
		border-color: rgba(101,159,19,.3);
	}

	&.warning {
		background: #fffceb;
		color: #e28327;
		border-color: rgba(226,131,39,.3);
	}

	&.danger {
		background: #fff1f0;
		color: #d85030;
		border-color: rgba(216,80,48,.3);
	}
}



/** navigation styles **/
.main-nav {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	background-color: $white-color;
	width: 250px;
	z-index: 1;
	transform: translateX(250px);
	transition: transform .3s;

	&.active {
		transform: translateX(0);
	}

	.open-btn {
		img {
			cursor: pointer;
		}
	}

	.close-btn {
		padding: 25px 20px 40px;

		img {
			cursor: pointer;
		}
	}

	ul.navbar-nav {
		list-style: none;
		padding: 0;
		margin: 0 0 20px;
		display: flex;
		flex-direction: column;
		box-shadow: 0 -10px 15px rgba(0,0,0,0.035) inset, 0 1px 0 rgba(255,255,255,0.075) inset, 0 10px 50px rgba(255,255,255,0.1) inset;
		border-color: rgba(0,0,0,0.05);
		border-style: solid;
		border-width: 1px 0 1px;
		transition: box-shadow 0.3s ease-in-out;

		@include breakpoint(992px) {
			flex-direction: row;
		}

		li {
			a {
				color: $font-base-color;
				display: flex;
				align-items: center;
				height: 50px;
				padding: 0 15px;
				transition: .3s;
			}

			&:focus,
			&:active,
			&:hover,
			&.current-menu-item {
				a {
					background: $prim-color;
					color: white;
					text-decoration: none;
					text-shadow: 0 1px 2px rgba(0, 0, 0, 0.65);
				}
			}
		}
	}

	@include breakpoint(992px) {
		position: initial;
		top: initial;
		right: initial;
		bottom: initial;
		background: initial;
		width: initial;
		z-index: initial;
		transform: none;
	}
}

.backdrop {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	transition: all;
	transition-duration: .6s;
	background-color: rgba($prim-color,0);
	visibility: hidden;

	&.active {
		background-color: rgba($prim-color,.75);
		visibility: visible;
	}
}


/** banner image below navigation **/
.header-banner-img {
	text-align: center;
	margin: 0 10px 45px 10px;
}



/** main content holder **/
main {
	border-top: 4px solid $prim-color;

	header {
		.header-top {
			height: 100px;
			padding: 0 20px;
			background: rgba($white-color,1);
			background: linear-gradient(180deg, rgba($white-color,1) 0%, rgba($body-bg,.8) 100%);
		}
	}

	.main-content {
		padding: 0 20px;

		.content {
			padding-bottom: 45px;
		}
	}
}


/** sidebars **/
.sidebar {
	padding: 10px 10px 15px;

	h3 {
		border-bottom: 1px solid rgba(0,0,0,0.075);
		box-shadow: 0 1px 0 rgba(255,255,255,0.1);
		margin-bottom: 15px;
		padding-bottom: 10px;
	}

	&.top {
		border: 1px solid #eee;
		border-radius: 10px;
		text-align: left;
		box-shadow: 0 2px 15px rgba(0,0,0,.05);
		padding: 10px 20px;

		h3 {
			color: $font-base-color;
		}

		.textwidget {
			font-size: 12px;
			list-style-type: none;
			border-radius: 0 0 10px 10px;
			color: $font-base-color;
		}
	}

	ul.menu {
		list-style: none;
		padding: 0;
		margin: 0;

		li a {
			display: block;
			margin: 0;
			padding: 5px 0;
			border-bottom: 1px solid rgba(0,0,0,0.075);
			box-shadow: 0 1px 0 rgba(255,255,255,0.1);
		}
	}
}


/** posts **/
.post-date {
	font-size: .85rem;
	color: rgba(0,0,0,.6);
}




/** main footer holder **/
footer {
	background-color: $sec-color;
	padding: 25px 30px;
	text-align: center;

	ul.footer-nav {
		list-style: none;
		margin: 0 0 20px;
		padding: 0;
		text-align: center;

		li {
			display: inline-block;
			margin: 0 5px;

			a {
				color: $prim-light-color;
			}
		}
	}
}