$font-size-base:    16px;
$body-bg:           #f4f4f4;
$font-base-color:   #222222;
$prim-light-color:  #b6e1ff;
$prim-color:        #137bd1;
$sec-color:         #274a82;
$border-color:		#e2e2e2;
$white-color:       #fff;
$black-color:       #000;
